@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "baloo da 2";
    src: url("../assets/fonts/BalooDa2-Regular.ttf");
    src: url("../assets/fonts/BalooDa2-ExtraBold.ttf");
    src: url("../assets/fonts/BalooDa2-Medium.ttf"),
        url("../assets/fonts/BalooDa2-Bold.ttf"),
        url("../assets/fonts/BalooDa2-SemiBold.ttf");
}

@layer base {
    html {
        font-family: 'baloo da 2';
    }
}